mat-divider {
  width: 75%;
  margin: auto;
  margin: 25px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
}

.spacer {
  flex: 1 1 auto;
}

path {
  fill: black;
}

#svg-logo {
  padding-top: 10px;
  width: 15%;
}
